@inject AppData AppData

<div class="row">
    <div class="col">
        <div class="row" style="margin-top:10px;">
            <div class="col d-flex justify-content-center align-items-center">
                @if (AppData.Account.IsLocked())
                {
                    <span>Wallet is Locked</span>
                }
                else
                {
                    <span>Wallet is Unlocked</span>
                }
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col d-flex justify-content-center align-items-center">
                @if (AppData.Account.IsLocked())
                {
                    <button class="btn btn-primary" @onclick="unlockWallet">Unlock Wallet</button>
                }
                else
                {
                    <button class="btn btn-primary" @onclick="lockWallet">Lock Wallet</button>
                }

            </div>
        </div>
    </div>
</div>

<VENFTApp_Blazor.Components.Modal.Modal Visible="@unlockAcocuntModalVisible"
                                        OnCancel="@UnclockAccountCancel">
    <ModalHeader>
        <ModalTitle>Unlock Account</ModalTitle>
    </ModalHeader>
    <ModalBody>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col d-flex justify-content-center align-items-center">
                        <span>Please Input password</span>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col d-flex justify-content-center align-items-center">
                        <InputPassword Placeholder="Input password" @bind-Value=@password @onkeydown="@UnlockAccountEnter" Style="font-size:12px; min-width:150px; max-width:250px;" />
                    </div>
                </div>
            </div>
        </div>
    </ModalBody>
    <VENFTApp_Blazor.Components.Modal.ModalFooter>
        <ModalButton Kind="ModalButtonKind.Cancel">Cancel</ModalButton>
        <ModalButton OnClick="@UnlockAccountConfirm">Ok</ModalButton>
    </VENFTApp_Blazor.Components.Modal.ModalFooter>
</VENFTApp_Blazor.Components.Modal.Modal>

@code {

    private string password = string.Empty;
    private bool unlockAcocuntModalVisible = false;

    private void lockWallet()
    {
        AppData.Account.AccountKey.Lock();
        StateHasChanged();
    }

    private void unlockWallet()
    {
        unlockAcocuntModalVisible = true;
    }

    private void UnlockAccountConfirm()
    {
        unlockAcocuntModalVisible = false;
        AppData.Account.AccountKey.LoadPassword(password); // put here your password
        StateHasChanged();
    }

    private void UnclockAccountCancel()
    {
        unlockAcocuntModalVisible = false;
    }

    public void UnlockAccountEnter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            StateHasChanged();
            UnlockAccountConfirm();
        }
    }
}
