@inject AppData AppData

<div class="row">
    <div class="col">
        <div class="row" style="margin-top:10px;">
            <div class="col d-flex justify-content-center align-items-center">

                @if (AppData.Account != null)
                {
                    @if (AppData.Account.TokensSupplies.Count > 0)
                    {

                        <div class="row" style="margin-top:10px;">
                            <div class="col d-flex justify-content-center align-items-center">
                                <table class="table" style="max-width:300px;">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Symbol</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var tok in AppData.Account.TokensSupplies.Values)
                                        {
                                            <tr>
                                                <td><img style="width: 25px;margin-right: 10px;;" src="@tok.ImageUrl" /></td>
                                                <td>@tok.TokenSymbol</td>
                                                <td>@tok.Amount.ToString()</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

@code {

}
