@inherits LayoutComponentBase
<!--
<div class="sidebar">
    <NavMenu />
</div>
-->
<div class="page">
    <div class="top-row px-4">
        <a href="http://about.ve-nft.com/" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
