
<div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col d-flex justify-content-center align-items-center">
                        <h3>Neblio NFT Web Wallet</h3>
                    </div>
                </div>
                <div class="row" style="margin-top:50px;">
                    <div class="col d-flex justify-content-center align-items-center">
                        <div class="row d-flex w-auto">
                            <div class="col d-flex justify-content-center align-items-center w-auto">
                                <img src="images/Stacked-Slogan_Dark.png" style="max-height:200px; max-width: 200px;" />
                            </div>
                            <div class="col d-flex justify-content-center align-items-center w-auto">
                                <img src="images/doge.jpg" style="max-height:200px; max-width: 200px;" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                        <span>Welcome to <a href="https://nebl.io/" target="_blank">Neblio</a> NFT App written in C# with <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank">Blazor</a> and <a href="https://veframework.com/" target="_blank">VE Framework</a></span>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                        <span><a href="https://about.ve-nft.com/" target="_blank" class="ml-md-auto">Here you can find information about the Wallet and whole project</a></span>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                        <span><a href="https://about.ve-nft.com/gettingstarted.html" target="_blank" class="ml-md-auto">Here you can find Getting Started Guide.</a></span>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                        <span><a href="https://about.ve-nft.com/index.html#airdrop" target="_blank" class="ml-md-auto">Here you can request for the airdrop</a></span>
                    </div>
                </div>
            </div>
        </div>
</div>