@using VEDriversLite
@using VEDriversLite.NFT
@using VEDriversLite.NFT.Imaging.Xray
@inject AppData AppData

@if (NFT != null && !string.IsNullOrEmpty(NFT.Utxo))
{
<Modal @ref="NFTSendModal">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Send the NFT</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Container Fluid>
            <Row>
                <Column Flex="Flex.AlignItems.Center">
                    <Span>Do you really want to Send this NFT? You cannot take this action back.</Span>
                </Column>
            </Row>
            <Row Width="Width.Is100"> 
                <Column>
                   <NeblioAddressInput @bind-Receiver="@Receiver" />
                </Column>
            </Row>
            <Row Flex="Flex.JustifyContent.Center"> 
                <Column>
                    <Button Color="Color.Primary" Clicked=@NFTAction>Yes, I understand. Send the NFT now.</Button>
                </Column>
            </Row>
            @if (SendFinished)
                {
                    <Row Flex="Flex.JustifyContent.Center">
                        <Column>
                            @if (SendResult.Item1)
                            {
                                <Alert Color="Color.Success">@SendResult.Item2</Alert>
                            }
                            else
                            {
                                <Alert Color="Color.Danger">@SendResult.Item2</Alert>
                            }
                        </Column>
                    </Row>
            }
            </Container>
        </ModalBody>
    </ModalContent>
</Modal>
}
@code {
    
    private Modal NFTSendModal;

    [Parameter]
    public string Receiver { get; set; } = string.Empty;
    [Parameter]
    public string Address { get; set; } = string.Empty;
    [Parameter]
    public EventCallback<string> AddressChanged { get; set; }
    [Parameter]
    public bool IsSubAccount { get; set; } = false;
    [Parameter]
    public EventCallback<bool> IsSubAccountChanged { get; set; }
    [Parameter]
    public bool IsOwnNFT { get; set; } = false;
    [Parameter]
    public EventCallback<bool> IsOwnNFTChanged { get; set; }    
    [Parameter]
    public INFT NFT { get; set; } = new XrayImageNFT("");

    [Parameter]
    public EventCallback<INFT> NFTChanged { get; set; }
    [Parameter]
    public string Utxo { get; set; } = string.Empty;
    [Parameter]
    public EventCallback<string> UtxoChanged { get; set; }
    [Parameter]
    public int UtxoIndex { get; set; } = 0;
    [Parameter]
    public EventCallback<int> UtxoIndexChanged { get; set; }

    [Parameter]
    public EventCallback<NFTSentResultDto> NFTSent { get; set; }

    bool Sending = false;
    bool SendFinished = false;
    (bool,string) SendResult = (false,string.Empty);

    public void ShowSendNFTModal()
    {
        if (NFT == null) return;
        NFTSendModal.Show();
    }
    public void HideSendNFTModal()
    {
        if (NFT == null) return;
        NFTSendModal.Hide();
    }

    async Task NFTAction()
    {
        if (NFT == null) return;
        Sending = true;
        StateHasChanged();

        if (!IsSubAccount)
            SendResult = await AppData.Account.SendNFT(Receiver, NFT);
        else
            SendResult = await AppData.Account.SendNFTFromSubAccount(Address, Receiver, NFT);

        Console.WriteLine($"Send of the NFT result: {SendResult.Item1}, with message: {SendResult.Item2}");

        SendFinished = false;

        Sending = false;
        StateHasChanged();

        //close automatically after 2 seconds
        await Task.Delay(2000);
        await NFTSent.InvokeAsync(new NFTSentResultDto() { sucess = SendResult.Item1, message = SendResult.Item2, NFT = NFT });       
    }
}
