@using VEDriversLite
@using VEDriversLite.Neblio
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject AppData AppData

<Modal @ref="UnlockAccountModal" Opened="ModalOpenedHandler">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Unlock Account</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            @if (!AppData.IsAccountLoaded)
            {
                <Row>
                    <Column>
                        <Field>
                            <FieldLabel>Please input your password.</FieldLabel>
                            <TextEdit @ref="PassEdit" Placeholder="Enter password" Role="TextRole.Password" @bind-Text="password" KeyUp="@PassowrdEntryEnterKeyUp" />
                        </Field>
                    </Column>
                </Row>    

                @if (!string.IsNullOrEmpty(password))
                {
                    <Row>
                        <Column>
                            <Button  Color="Color.Primary" Loading="@LoadingAccount" Clicked="@UnlockAccountHandler" Block>Unlock Account</Button>
                        </Column>
                    </Row>
                }
                else
                {
                    <Row>
                        <Column>
                            <Span>Please Fill the password to continue.</Span>
                        </Column>
                    </Row>
                }
            }
        </ModalBody>
    </ModalContent>
</Modal>

@code {
    [Inject] INotificationService NotificationService { get; set; }

    [Parameter]
    public EventCallback<string> AccountUnlocked { get; set; }

    [Inject] IPageProgressService PageProgressService { get; set; }

    Modal UnlockAccountModal;
    TextEdit PassEdit;

    bool LoadingAccount = false;

    string encryptedKey= string.Empty;
    string password = string.Empty;
    string Address = string.Empty;

    public void ShowUnlockAccountModal()
    {
        UnlockAccountModal.Show();
    }

    async Task UnlockAccountHandler()
    {
        if (string.IsNullOrEmpty(password))
            return;

        LoadingAccount = true;
        await PageProgressService.Go( null, options => { options.Color = Color.Primary; } );
        await UnlockAccountModal.Show();
        StateHasChanged();
        await Task.Delay(500);

        var res = await AppData.UnlockAccount(password);
        password = string.Empty;
        
        if (!res.Item1)
            await NotificationService.Error( "Cannot unlock the account :(", "Cannot unlock" );
        else   
        {
            Address = res.Item2;
            await AccountUnlocked.InvokeAsync(Address);
        }
        await PageProgressService.Go(-1);
        LoadingAccount = false;
        StateHasChanged();
        await UnlockAccountModal.Hide();
    }  

    async Task PassowrdEntryEnterKeyUp(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
            await UnlockAccountHandler();
    }

    async Task ModalOpenedHandler()
    {
        await PassEdit.Focus();
    }

}
