@page "/records"

<PageTitle>Records</PageTitle>

<Row Margin="Margin.Is2.FromTop">
    <Column Flex="Flex.JustifyContent.Center">
        <Span>Here you can find some older records:</Span>
    </Column>
</Row>

<LessonsList Language="Languages.en2pap" />