@inject AppData AppData

<Bar Breakpoint="Breakpoint.Desktop" NavigationBreakpoint="Breakpoint.Tablet" ThemeContrast="ThemeContrast.Light" Mode="BarMode.VerticalInline" CollapseMode="BarCollapseMode.Small">
    <BarToggler />
    <BarBrand>
        <BarItem>
            <BarLink To="">
                <BarIcon IconName="customIcon" />
                @AppData.AppName
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="">
                    <BarIcon IconName="IconName.Home" IconSize="IconSize.Small" Margin="Margin.Is1.FromEnd" />
                    Home
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="gallery">
                    <BarIcon IconName="IconName.Images" IconSize="IconSize.Small" Margin="Margin.Is1.FromEnd" />
                    Gallery
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="addnew">
                    <BarIcon IconName="IconName.Add" IconSize="IconSize.Small" Margin="Margin.Is1.FromEnd" />
                    Add New
                </BarLink>
            </BarItem>
        </BarStart>
        <BarEnd>
            <BarItem>
                <BarDropdown RightAligned>
                    <BarDropdownToggle Display="Blazorise.Display.InlineBlock.None.OnMobile">
                        <Span TextColor="TextColor.Dark">Account</Span>
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        @if ( AppData.IsAccountLoaded )
                        {
                            <BarDropdownItem Clicked="@Lock">
                                <Icon Name="IconName.Lock" TextColor="TextColor.Danger" />
                                Logout
                            </BarDropdownItem>
                        }
                        else
                        {
                            <BarDropdownItem Clicked="@Unlock">
                                <Icon Name="IconName.Unlock" TextColor="TextColor.Success" />
                                Login
                            </BarDropdownItem>
                        }
                        <BarDropdownDivider />
                        <BarDropdownItem To="https://basedataplace.com/" Target="Target.Blank">
                            <Icon Name="IconName.QuestionCircle" TextColor="TextColor.Primary" />
                            About
                        </BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>

<UnlockAccount @ref="UnlockAccountComponent" AccountUnlocked="@AccountUnlockedHandler" />

@code {
    RenderFragment customIcon =@<img src="/images/main-bw-big.png" style="width:32px;" />;

    [Inject] INotificationService? NotificationService { get; set; }

    private UnlockAccount? UnlockAccountComponent;

    void Unlock()
    {
        UnlockAccountComponent?.ShowUnlockAccountModal();
    }

    void Lock()
    {
        AppData.LockAccount();
    }

    async Task AccountUnlockedHandler( string e )
    {
        if ( NotificationService != null )
            await NotificationService.Success( "Account Unlocked :)", "Unlocked" );

        await InvokeAsync( StateHasChanged );
    }
}