<div class="card" style="margin-top:10px;  min-width:350px;">
    <div class="card-header" style="padding-top: 5px;padding-bottom: 5px;">
        <h5 class="text-center">Neblio Price Conversion</h5>
    </div>
    <div class="card-body" style="padding: 5px;padding-left: 20px;padding-right: 20px;padding-bottom: 10px; min-width:350px; max-width:500px; min-height:620px;">
        <div class="row" style="padding:0px;">
            <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center w-100 h-100" style="padding:0px;">
                <iframe src="https://ve-nft.com/neblio-price-conversion.html" style="min-height:300px; min-width:400px;" frameborder='0' allow='autoplay; encrypted-media; picture-in-picture' allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
@code {

}
