@inherits BaseNFTComponent

<Row>
    <Column Flex="Flex.JustifyContent.Center">
        <Span Style="font-family: 'Inter';font-size: 20px;" Display="Display.None.OnMobile.None.OnTablet.Inline.OnDesktop">
            @GetName(NFT)
        </Span>
        <Span Style="font-family: 'Inter';font-size: 20px;" Display="Display.Inline.OnMobile.Inline.OnTablet.None.OnDesktop">
            @GetName(NFT)
        </Span>
    </Column>
</Row>
