@using Microsoft.Extensions.Configuration
@inject AppData AppData
@inject IConfiguration Configuration

<div class="top-row pl-4 navbar navbar-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href=""><img src="images/VENFT_logo.png" style="max-height:80px; min-width:100px; max-width:150px;" /></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column @IsDisabled">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="account" Match="NavLinkMatch.All">
                <span class="oi oi-credit-card" aria-hidden="true"></span> Account
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="messages">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span> Messages
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="nftexplorer">
                <span class="oi oi-folder" aria-hidden="true"></span> My NFTs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link " href="mint">
                <span class="oi oi-plus" aria-hidden="true"></span> New NFT
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="send">
                <span class="oi oi-location" aria-hidden="true"></span> Send
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="browser">
                <span class="oi oi-browser" aria-hidden="true"></span> NFT Browser
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dogeaccount">
                <span class="oi oi-credit-card" aria-hidden="true"></span> Doge Wallet
            </NavLink>
        </li>
        @if (Convert.ToBoolean(Configuration["development"]))
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="devices">
                    <span class="oi oi-dashboard" aria-hidden="true"></span> Devices
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link " href="advanced">
                    <span class="oi oi-wrench" aria-hidden="true"></span> Advanced
                </NavLink>
            </li>
            <!--
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="tools">
                    <span class="oi oi-browser" aria-hidden="true"></span> Tools
                </NavLink>
            </li>-->
        }
    </ul>
</div>

@code {

    public string IsDisabled
    {
        get
        {
            if (AppData.Account.IsLocked())
                return "disabled";
            else
                return string.Empty;
        }
    }



    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override Task OnInitializedAsync()
    {
        try
        {
            if (!string.IsNullOrEmpty(AppData.Account.Address))
            {
                AppData.Account.AccountFirsLoadFinished -= RefreshedHandler;
                AppData.Account.AccountFirsLoadFinished += RefreshedHandler;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Cannot register Account refresh handler in the NavMenu. " + ex.Message);
        }

        return base.OnInitializedAsync();
    }

    private void RefreshedHandler(object sender, string e)
    {
        StateHasChanged();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
