@inherits LayoutComponentBase

<PageTitle>MintFreeForAI</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://veframework.com/" target="_blank">Chci vědět více</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
