@using VEDriversLite.NFT
@switch (NFTType)
{
    case NFTTypes.Image:
        <span class="badge badge-primary">Image</span>
        break;
    case NFTTypes.Product:
        <span class="badge badge-info">Product</span>
        break;
    case NFTTypes.Invoice:
        <span class="badge badge-success">Invoice</span>
        break;
    case NFTTypes.Ticket:
        <span class="badge badge-secondary">Ticket</span>
        break;
    case NFTTypes.Event:
        <span class="badge badge-success">Event</span>
        break;
    case NFTTypes.Post:
        <span class="badge badge-info">Post</span>
        break;
    case NFTTypes.Profile:
        <span class="badge badge-light">Profile</span>
        break;
    case NFTTypes.Music:
        <span class="badge badge-warning">Music</span>
        break;
}

@code {
    [Parameter]
    public NFTTypes NFTType { get; set; } = NFTTypes.Image;
}
