@using VEDriversLite
@using VEDriversLite.NFT
@using VEDriversLite.NeblioAPI
@using VEDriversLite.Events
@inject AppData AppData

<div class="row">
    <div class="col d-flex justify-content-center align-items-center">
        <button class="btn btn-light" @onclick="() => OpenHelp(pageSection)">Need Help <i class="oi oi-question-mark"></i></button>
    </div>
</div>

<VENFTApp_Blazor.Components.Modal.Modal @bind-Visible="@helpModalVisible"
                                        Style="max-width:90%; height: max-content; z-index: 11;">
    <ModalHeader>
        <ModalTitle>VENFT Help</ModalTitle>
    </ModalHeader>
    <ModalBody>
        <iframe src=@infopageLink style="width: 100%; height: max-content; min-height:600px; min-width: 300px;" frameborder='0' allow='autoplay; encrypted-media; picture-in-picture' allowfullscreen></iframe>
    </ModalBody>
    <VENFTApp_Blazor.Components.Modal.ModalFooter>
        <ModalButton Kind="ModalButtonKind.Cancel">Cancel</ModalButton>
        <ModalButton OnClick="@context.Cancel">Ok</ModalButton>
    </VENFTApp_Blazor.Components.Modal.ModalFooter>
</VENFTApp_Blazor.Components.Modal.Modal>

@code {

    [Parameter]
    public string PageSection
    {
        get => pageSection;
        set => pageSection = value;
    }

    private bool helpModalVisible = false;
    private string defaultInfopageLink = "https://about.ve-nft.com/gettingstarted.html";
    private string infopageLink = "https://about.ve-nft.com/gettingstarted.html";
    private string pageSection = string.Empty;

    protected override Task OnInitializedAsync()
    {
        infopageLink = defaultInfopageLink + "#" + pageSection;
        return base.OnInitializedAsync();
    }

    public void OpenHelp(string _pageSection)
    {
        infopageLink = defaultInfopageLink + "#" + _pageSection;
        helpModalVisible = true;
    }
}
