<Row class="headerbackground" Flex="Flex.AlignContent.Center">
    <Column>
        <Row>
            <Column>
                <Heading Class="headertext" Size="HeadingSize.Is3">The First and largest</Heading>
            </Column>
        </Row>
        <Row>
            <Column>
                <Heading Class="headertext" Size="HeadingSize.Is2">Tech Publication</Heading>
            </Column>
        </Row>        
        <Row>
            <Column>
                <Heading Class="headertext" Size="HeadingSize.Is3">built on Blockchain</Heading>
            </Column>
        </Row>
        <Row Margin="Margin.Is5.FromTop">
            <Column Flex="Flex.AlignContent.Center.JustifyContent.Center">
               <Button Class="explorebutton" Type="ButtonType.Link" To="#explore">Explore</Button>
            </Column>
        </Row>
    </Column>
</Row>