@using VEFramework.Demo.PublishingDisplay.Services.NFTs
@using VEFramework.Demo.PublishingDisplay.Services.NFTs.Coruzant
@using Markdig

@if (NFT != null)
{
<Row Class="profileofthedaybox" Margin="Margin.Is2.FromTop.Is4.FromBottom">
    <Column ColumnSize="ColumnSize.Is12.OnMobile.Is12.OnTablet.Is12.OnDesktop" Padding="Padding.Is2">
        
        <Row Margin="Margin.Is2.FromTop">
            <Column Flex="Flex.JustifyContent.Center">
                <Span TextColor="TextColor.Dark">@NFT.Name</Span>
            </Column>
        </Row>
        <Row Margin="Margin.Is2.FromTop">
            <Column Flex="Flex.JustifyContent.Center">
                <Small TextColor="TextColor.Secondary">@NFT.Author</Small>
            </Column>
        </Row>       
        <Row Margin="Margin.Is3.FromTop.Is2.FromBottom">
            <Column>
                @foreach(var tag in NFT.TagsList)
                {                    
                    <Badge Color="Color.Secondary" Margin="Margin.Is2.FromEnd">#@tag</Badge>
                }
            </Column>
        </Row>

        <Row Margin="Margin.Is3.FromTop">
            <Column Flex="Flex.JustifyContent.Center.AlignItems.Center">
                <Image Source="@NFT.ImageLink" Style="max-width:350px;" />
            </Column>
        </Row>
    </Column>
    <Column ColumnSize="ColumnSize.Is12.OnMobile.Is12.OnTablet.Is12.OnDesktop" Flex="Flex.AlignItems.Center">
        <Div>
            <Row Margin="Margin.Is2.FromTop">
                <Column Padding="Padding.Is2">
                    @((MarkupString)NFTTextMarkuptext)
                </Column>
            </Row>
            <Row Margin="Margin.Is3.FromTop.Is2.FromBottom">
                <Column Flex="Flex.JustifyContent.Center">
                    @foreach(var tag in NFT.TagsList)
                    {                    
                        <Badge Color="Color.Secondary" Margin="Margin.Is2.FromEnd">#@tag</Badge>
                    }
                </Column>
            </Row>
        </Div>
    </Column>
</Row>
}
@code {
    [Parameter]
    public INFT NFT { get; set; } = new CoruzantArticleNFT("");

    public string NFTTextMarkuptext => Markdig.Markdown.ToHtml( NFT.Text , new MarkdownPipelineBuilder().UseAdvancedExtensions().Build());

    public async Task Load (INFT post)
    {
        if (post != null)
        {
            NFT = post;
            await InvokeAsync( StateHasChanged );
        }
    }
}
