@using VEFramework.Demo.PublishingDisplay.Models
@using VEFramework.Demo.PublishingDisplay.Services.NFTs
@using VEFramework.Demo.PublishingDisplay.Services.NFTs.Coruzant
@using Markdig

@if (Profile != null)
{
<Row Class="profileofthedaybox" Margin="Margin.Is2.FromTop">
    <Column ColumnSize="ColumnSize.Is12.OnMobile.Is12.OnTablet.Is4.OnDesktop" Padding="Padding.Is2">
        <Row>
            <Column Flex="Flex.JustifyContent.Center.AlignItems.Center">
                <Image Source="@Profile.ImageLink" Style="max-width:350px;" />
            </Column>
        </Row>
        <Row>
            <Column Flex="Flex.JustifyContent.Center">
                <Span TextColor="TextColor.Dark">@Profile.Name</Span>
            </Column>
        </Row>
        <Row>
            <Column Flex="Flex.JustifyContent.Center">
                <Small TextColor="TextColor.Secondary">@((Profile as CoruzantProfileNFT).WorkingPosition)</Small>
            </Column>
        </Row>        
    </Column>
    <Column ColumnSize="ColumnSize.Is12.OnMobile.Is12.OnTablet.Is8.OnDesktop" Flex="Flex.AlignItems.Center">
        <Div>
            <Row Margin="Margin.Is2.FromTop">
                <Column>
                        <Span Class="text-wrap">
                            @((MarkupString)NFTTextMarkuptext)
                        </Span>         
                </Column>
            </Row>
            <Row Margin="Margin.Is3.FromTop.Is2.FromBottom">
                <Column Flex="Flex.JustifyContent.Center">
                    @foreach(var tag in Profile.TagsList)
                    {                    
                        <Badge Color="Color.Secondary" Margin="Margin.Is2.FromEnd">#@tag</Badge>
                    }
                </Column>
            </Row>
        </Div>
    </Column>
</Row>
}
@code {
    [Parameter]
    public INFT Profile { get; set; } = new CoruzantProfileNFT("");
    
    public string NFTTextMarkuptext => Markdig.Markdown.ToHtml( Profile.Text , new MarkdownPipelineBuilder().UseAdvancedExtensions().Build());
    
}
