@page "/delessons"

<PageTitle>Lektion</PageTitle>

<Row Flex="Flex.AlignItems.Center" Margin="Margin.Is2.FromTop">
    <Column>
        <Span>Hier finden Sie die neuesten Spanischlektionen:</Span>
    </Column>
</Row>

<LessonsList Language="Languages.de2es" />