@page "/delessons"

<PageTitle>Lektion</PageTitle>

<Row Margin="Margin.Is2.FromTop">
    <Column Flex="Flex.JustifyContent.Center">
        <Span>Hier finden Sie die neuesten Spanischlektionen:</Span>
    </Column>
</Row>

<LessonsList Language="Languages.de2es" />