@page "/enlessons"

<PageTitle>Lessons</PageTitle>

<Row Margin="Margin.Is2.FromTop">
    <Column Flex="Flex.JustifyContent.Center">
        <Span>Here you can find latest lessons of Spanish:</Span>
    </Column>
</Row>

<LessonsList Language="Languages.en2es" />