@page "/enlessons"

<PageTitle>Lessons</PageTitle>

<Row Flex="Flex.AlignItems.Center" Margin="Margin.Is2.FromTop">
    <Column>
        <Span>Here you can find latest lessons of Spanish:</Span>
    </Column>
</Row>

<LessonsList Language="Languages.en2es" />