@page "/lessons"

<PageTitle>Lekce</PageTitle>

<Row Flex="Flex.AlignItems.Center" Margin="Margin.Is2.FromTop">
    <Column>
        <Span>Zde můžete najít 20 posledních lekcí Španělštiny:</Span>
    </Column>
</Row>

<LessonsList Language="Languages.cz2es" />