@page "/lessons"

<PageTitle>Lekce</PageTitle>

<Row Margin="Margin.Is2.FromTop">
    <Column Flex="Flex.JustifyContent.Center">
        <Span>Zde můžete najít 20 posledních lekcí Španělštiny:</Span>
    </Column>
</Row>

<LessonsList Language="Languages.cz2es" />