@page "/nllessons"

<PageTitle>Les</PageTitle>

<Row Margin="Margin.Is2.FromTop">
    <Column Flex="Flex.JustifyContent.Center">
        <Span>Hier vind je de laatste lessen Spaans:</Span>
    </Column>
</Row>

<LessonsList Language="Languages.nl2es" />