<footer style="background:url(images/digital-icons.jpg);background-size:cover">

<div class="footer-top">
    <div class="row">
        <h2 class="heading-footer col-xs-12 col-sm-3">Coruzant Tech</h2>
        <ul class="list-unstyled col-xs-12 col-sm-9 row">
            <li class="col-xs-6 col-sm-2"><a href=""> Profiles</a></li>
            <li class="col-xs-6 col-sm-2"><a href=""> Cloud</a></li>
            <li class="col-xs-6 col-sm-2"><a href=""> Security</a></li>
            <li class="col-xs-6 col-sm-2"><a href=""> Opinion</a></li>
            <li class="col-xs-6 col-sm-2"><a href=""> Blockchain</a></li>
            <li class="col-xs-6 col-sm-2"><a href=""> Capexpanders</a></li>


         </ul>
       </div>
      <div class="row dark">
          <div class="col-xs-12 col-sm-4 about">
              <h4>About</h4>
              <p>
                  Coruzant is first and largest digital publication built on #Blockchain. Every piece of content, article, photo, podcast, video has an associated Coruzant Token or "NFT" uniquely tied to it.
              </p>
          </div>
          <div class="col-xs-12 col-sm-4 social-links">
              <h4>Coruzant Social</h4>
              <p>
                Connect with us and join over 300K+ Global Social Network
              </p>
              <Social></Social>
          </div>

           <div class="col-xs-12 col-sm-4" id="subscribe">
              <h4>Contact Us</h4>
              <p>
                Join our 45K+ Subscribers.
              </p>
              <div>
                  <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Subscribe" aria-label="Subscribe" aria-describedby="Subscribe">
                  <span class="input-group-text" id="subscribe-btn">Subscribe</span>
                </div>
              </div>

          </div>

      </div>

</div>
<div class="copyright">
    <span>© 2019-@DateTime.Now.Year by Coruzant. All rights reserved.</span>
</div>

</footer>


