@using Markdig
@inherits NFTComponentBase;

@if ( !string.IsNullOrEmpty( Text ) )
{
    <Card Margin="Margin.Is4.FromBottom">
        <CardBody>
            <CardTitle Size="5">Description</CardTitle>
            <CardText>
                <Span>@((MarkupString)NFTTextMarkuptext)</Span>
            </CardText>
        </CardBody>
    </Card>
}

@code {
    [Parameter]
    public string Text { get; set; } = string.Empty;
    
    public string NFTTextMarkuptext => Markdig.Markdown.ToHtml( Text );
}
