<Bar Breakpoint="Breakpoint.Desktop" Style="background: #231F20; box-shadow: 1px 4px 37px #ffffff0d;">
    <BarBrand>
        <Image Source="images/logo.png" class="img-responsive" Style="max-height:55px; min-height:55px;" />
    </BarBrand>
    <BarToggler />
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink Class="navtext" To="">Home</BarLink>
            </BarItem>
            <BarItem>
                <BarLink Class="navtext" To="posts">Posts</BarLink>
            </BarItem>
            <BarItem>
                <BarLink Class="navtext" To="musics">Music</BarLink>
            </BarItem>
        </BarStart>
        <BarEnd>
            <BarItem>
                <Button Class="barbutton" Type="ButtonType.Link" To="https://the-desh.com/" Target="Target.Blank">About Band</Button>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>
