@using VEDriversLite
@using VEDriversLite.NeblioAPI
@using VEDriversLite.NFT
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject HttpClient _client
@inject AppData AppData
@inject NavigationManager NavManager
@page "/account"

<div class="container-fluid">
    <div class="row">
        <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
            <h3>My Account</h3>
        </div>
    </div>

    <VENFTApp_Blazor.Components.AccountBalances />

    <div class="row" style="margin-top:10px;">
        <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
            <hr />
        </div>
    </div>
    <div class="row" style="margin-bottom:20px;">
        <div class="col">
            <div class="card" style="margin-top:10px;">
                <div class="card-header" style="padding-top: 5px;padding-bottom: 5px;">
                    <h5 class="text-center">Profile</h5>
                </div>
                <div class="card-body" style="padding: 5px;padding-left: 20px;padding-right: 20px;padding-bottom: 10px;">
                    <VENFTApp_Blazor.Components.Profile ReadOnlyProfile="@false" NFT="@AppData.Account.Profile" />
                </div>
            </div>

            <div class="card" style="margin-top:10px;">
                <div class="card-header" style="padding-top: 5px;padding-bottom: 5px;">
                    <h5 class="text-center">Tokens Supplies</h5>
                </div>
                <div class="card-body" style="padding: 5px;padding-left: 20px;padding-right: 20px;padding-bottom: 10px;">
                    <VENFTApp_Blazor.Components.TokenSupplies />
                </div>
            </div>
            
            <div class="card" style="margin-top:10px;">
                <div class="card-header" style="padding-top: 5px;padding-bottom: 5px;">
                    <h5 class="text-center">Lock Unlock Account</h5>
                </div>
                <div class="card-body" style="padding: 5px;padding-left: 20px;padding-right: 20px;padding-bottom: 10px;">
                    <VENFTApp_Blazor.Components.LockUnlockAccount />
                </div>
            </div>
            <div class="card" style="margin-top:10px;">
                <div class="card-header" style="padding-top: 5px;padding-bottom: 5px;">
                    <h5 class="text-center">Export Account Key</h5>
                </div>
                <div class="card-body" style="padding: 5px;padding-left: 20px;padding-right: 20px;padding-bottom: 10px;">
                    <div class="row">
                        <div class="col">
                            <div class="row" style="margin-top:10px;">
                                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                    <span class="text-center">Please dont forget to save your private key!!! It is unique key for your Neblio address. If you save it you can backup address anytime.</span>
                                </div>
                            </div>
                            <VENFTApp_Blazor.Components.DisplayAccountKey DogeAccountKey="false" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="margin-top:10px;">
                <div class="card-header" style="padding-top: 5px;padding-bottom: 5px;">
                    <h5 class="text-center">Received NFT Payments</h5>
                </div>
                <div class="card-body d-flex justify-content-center align-items-center" style="min-height:150px; padding: 5px;padding-left: 20px;padding-right: 20px;padding-bottom: 10px;">
                    <VENFTApp_Blazor.Components.PaymentsList />
                </div>
            </div>
            <div class="card" style="margin-top:10px;">
                <div class="card-header" style="padding-top: 5px;padding-bottom: 5px;">
                    <h5 class="text-center">Transactions List</h5>
                </div>
                <div class="card-body" style="min-height: 150px; padding: 5px; padding-left: 20px; padding-right: 20px; padding-bottom: 10px;">
                    <div class="row" style="margin-top:30px;">
                        <div class="col">
                            <div class="row" style="margin-top:30px; min-width:350px;">
                                <div class="col w-100 d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                    <VENFTApp_Blazor.Components.TransactionsList @bind-MaxLoadedTx="maxLoadedTransaction" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:20px;">
        <div class="col">
            <div class="card" style="margin-top:10px;">
                <div class="card-header" style="padding-top: 5px;padding-bottom: 5px;">
                    <h5 class="text-center">Advanced Tools</h5>
                </div>
                <div class="card-body" style="padding: 5px;padding-left: 20px;padding-right: 20px;padding-bottom: 10px; min-height:600px;">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col d-flex justify-content-center align-items-center flex-wrap">
                            <VENFTApp_Blazor.Components.SignAndVerifyMessage />
                            <VENFTApp_Blazor.Components.NFTOwnerVerifier />
                            <VENFTApp_Blazor.Components.NeblioPriceStats />
                            <VENFTApp_Blazor.Components.NeblioPriceConversion />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <VENFTApp_Blazor.Components.InfoEventModal />
</div>

@code {

    private int maxLoadedTransaction = 10;

    protected override Task OnInitializedAsync()
    {
        try
        {
            if (string.IsNullOrEmpty(AppData.Account.Address))
                Redirect();
            else
                Load();
        }
        catch(Exception ex)
        {
            Redirect();
        }

        return base.OnInitializedAsync();
    }

    private async Task Load()
    {
        if (AppData.Account != null)
            AppData.Account.Refreshed += RefreshedHandler;

        try
        {
            await AppData.Account.ReloadAccountInfo();
        }
        catch(Exception ex)
        {
            Console.WriteLine("Cannot refresh account tx list" + ex.Message);
        }
        try
        {
            var bookmarks = await localStorage.GetItemAsync<string>("bookmarks");
            if (bookmarks == "{}" || bookmarks == "[]")
                bookmarks = string.Empty;

            if (!string.IsNullOrEmpty(bookmarks))
                if (AppData.Account.Bookmarks.Count == 0)
                    await AppData.Account.LoadBookmarks(bookmarks);
        }
        catch (Exception ex)
        {
            Console.WriteLine("Cannot load bookmarks!" + ex.Message);
        }
    }

    void RefreshedHandler(object sender, EventArgs e)
    {
        StateHasChanged();
    }

    private async Task Redirect()
    {
        AppData.Account = new NeblioAccount();
        await Task.Delay(500);
        NavManager.NavigateTo("/");
    }
}
