@using System.IO;
@using VEDriversLite
@using VEDriversLite.NFT
@using VEDriversLite.NeblioAPI
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject AppData AppData
@inject HttpClient _client
@inject NavigationManager NavManager
@page "/nfts"

<div class="container-fluid">

    @if (AppData.Account.IsLocked())
    {
        <Alert Type="@AlertType.Error"
               Message="Error"
               Description="Account Is Locked. Please unlock account first."
               ShowIcon="true" />
    }

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <h1>My NFTs</h1>
                </div>
            </div>

            <VENFTApp_Blazor.Components.AccountBalances/>

            <VENFTApp_Blazor.Components.NFTList Address="@AppData.Account.Address" MainAccount="true"/>
        </div>
    </div>
</div>

@code {

    protected override Task OnInitializedAsync()
    {
        try
        {
            if (string.IsNullOrEmpty(AppData.Account.Address))
            {
                Redirect();
            }
            else
            {
                if (AppData.Account != null)
                    AppData.Account.Refreshed += RefreshedHandler;
            }
        }
        catch(Exception ex)
        {
            Redirect();
        }

        return base.OnInitializedAsync();
    }

    private async Task Redirect()
    {
        AppData.Account = new NeblioAccount();
        await Task.Delay(500);
        NavManager.NavigateTo("/");
    }

    void RefreshedHandler(object sender, EventArgs e)
    {
        StateHasChanged();
    }

}
