@using VEDriversLite
@using VEDriversLite.NFT
@using VEDriversLite.NeblioAPI
@using VEDriversLite.Builders.Neblio
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject AppData AppData
@inject HttpClient _client
@inject NavigationManager NavManager
@page "/tools"

<div class="container-fluid overflow-auto">
    <div class="row">
        <div class="col">
            <div>
                <ul role="tablist" class="nav nav-tabs">
                    <li role="presentation" class="nav-item">
                        <a role="tab" data-toggle="tab" class="nav-link" href="#tab-1">Transaction Builder</a>
                    </li>
                    <!--
                    <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link active" href="#tab-2">Transaction Details</a></li>
                    -->
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab-1">
                        <div class="row">
                            <div class="col">
                                <VENFTApp_Blazor.Components.TransactionBuilder />
                            </div>
                        </div>
                    </div>
                    <!--
                    <div role="tabpanel" class="tab-pane active" id="tab-2">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col d-flex justify-content-center align-items-center">
                                        <h1>Transaction Details</h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-center align-items-center"><input type="text" /></div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col d-flex justify-content-center align-items-center"><button class="btn btn-primary" type="button">Load</button></div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col d-flex justify-content-center align-items-center"><textarea style="min-width: 800px;min-height: 500px;"></textarea></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
    <VENFTApp_Blazor.Components.InfoEventModal />
</div>


@code {


}
