<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Learn With AI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> CZ 2 ES Lekce
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lessons">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Historie CZ
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="en2es">
                <span class="oi oi-plus" aria-hidden="true"></span> EN 2 ES Lesson
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="enlessons">
                <span class="oi oi-list-rich" aria-hidden="true"></span> History EN
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="de2es">
                <span class="oi oi-plus" aria-hidden="true"></span> DE 2 ES Lektion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="delessons">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Geschichte DE
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nl2es">
                <span class="oi oi-plus" aria-hidden="true"></span> NL 2 ES Les
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nllessons">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Geschiedenis NL
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="search">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Hledat
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
