@inject AppData AppData

<Bar Breakpoint="Breakpoint.Desktop" Background="Background.Light" ThemeContrast="ThemeContrast.Light">
    <BarBrand>
        <BarItem>
            <BarLink To="https://basedataplace.com/">
                BaseDataPlace
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarToggler />
    <BarMenu>
        <BarStart>
        </BarStart>
        <BarEnd>
            <BarItem>
                <BarDropdown RightAligned>
                    <BarDropdownToggle Display="Blazorise.Display.InlineBlock.None.OnMobile">
                        <Span TextColor="TextColor.Dark">Account</Span>
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        @if ( AppData.IsAccountLoaded )
                        {
                            <BarDropdownItem Clicked="@Lock">
                                <Icon Name="IconName.Lock" TextColor="TextColor.Danger" />
                                Logout
                            </BarDropdownItem>
                        }
                        else
                        {
                            <BarDropdownItem Clicked="@Unlock">
                                <Icon Name="IconName.Unlock" TextColor="TextColor.Success" />
                                Login
                            </BarDropdownItem>
                        }
                        <BarDropdownDivider />
                        <BarDropdownItem To="https://basedataplace.com/" Target="Target.Blank">
                            <Icon Name="IconName.QuestionCircle" TextColor="TextColor.Primary" />
                            About
                        </BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>

<UnlockAccount @ref="UnlockAccountComponent" AccountUnlocked="@AccountUnlockedHandler" />

@code {
    [Inject] INotificationService NotificationService { get; set; }

    private UnlockAccount UnlockAccountComponent;

    void Unlock()
    {
        UnlockAccountComponent.ShowUnlockAccountModal();
    }
    async Task Lock()
    {
        await AppData.LockAccount();
    }
    async Task AccountUnlockedHandler( string e )
    {
        await NotificationService.Success( "Account Unlocked :)", "Unlocked" );
        StateHasChanged();
    }
}