@inject AppData AppData

<Bar Breakpoint="Breakpoint.Desktop" Background="Background.Light" ThemeContrast="ThemeContrast.Light">
    <BarBrand>
        <BarItem>
            <BarLink To="">
                BaseDataPlace
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarToggler />
    <BarMenu>
        <BarStart>
        </BarStart>
        <BarEnd>
            <BarItem>
                <BarLink To="https://veframework.com" Target="Target.Blank">
                    About
                </BarLink>
            </BarItem>
            <BarItem>
                <Dropdown RightAligned>
                    <DropdownToggle Display="Blazorise.Display.InlineBlock.None.OnMobile">
                        <Span TextColor="TextColor.Dark">Account</Span>
                    </DropdownToggle>
                    <DropdownMenu>
                        <DropdownItem>
                            <Icon Name="IconName.Wrench" />
                            User Settings
                        </DropdownItem>
                        <DropdownDivider />
                            @if (AppData.IsAccountLoaded)
                            {
                                <DropdownItem>
                                    <Icon Name="IconName.Lock" TextColor="TextColor.Danger" />
                                    Logout
                                </DropdownItem>                                
                            }
                            else 
                            {
                                <DropdownItem>                                
                                    <Icon Name="IconName.Unlock" TextColor="TextColor.Success" />
                                    Login
                                </DropdownItem>
                            }
                    </DropdownMenu>
                </Dropdown>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>