/*.navtext {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;*/
    /* or 44px */
    /*text-align: center;
    letter-spacing: 0.045em;
    color: #FFFFFF !important;
}
    .navtext:hover {
        color: #00C0F3 !important;
    }

.barbg {
    background: #231F20 !important;
    box-shadow: 1px 4px 37px #ffffff0d;
}

.barbutton {
    background: #00C0F3 !important;
    box-shadow: inset 11px -5px 13px #00000040 !important;
    border-radius: 10px !important;
}*/