@using VEFramework.Demo.PublishingDisplay.Components

<Bar Breakpoint="Breakpoint.Desktop" Style="background: #231F20; box-shadow: 1px 4px 37px #ffffff0d;">
    <BarBrand>
        <Image Source="images/smalllogo.png" class="img-responsive" Style="max-height:55px; min-height:55px;" />
        <Image Source="images/coruzant-logo-text.png" class="img-responsive" Style="max-height:55px; min-height:55px;" />
    </BarBrand>
    <BarToggler />
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink Class="navtext" To="">Home</BarLink>
            </BarItem>
            <BarItem>
                <BarLink Class="navtext" To="blog">Blog</BarLink>
            </BarItem>
            <BarItem>
                <BarLink Class="navtext" To="profiles">Profiles</BarLink>
            </BarItem>
            <BarItem>
                <BarLink Class="navtext" To="podcasts">Podcasts</BarLink>
            </BarItem>        
            <BarItem>
                <BarLink Class="navtext" To="about">About us</BarLink>
            </BarItem>
        </BarStart>
        <BarEnd>
            <BarItem>
                <Button Class="barbutton" Type="ButtonType.Link" To="https://app.coruzant.com/" Target="Target.Blank">Join us</Button>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>
